<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vincenzo Marafioti</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="assets/js/jquery.slim.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<main role="main" class="container">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-8">Experiments, ideas, tooling, ...</h1>
    <p class="lead">For public usage.</p>
  </div>
</div>


<div class="container">


<div class="row flex-row flex-sm-nowrap py-3">
<!---------------------->
<!-- Idea -->
<!---------------------->
<div class="col-sm-6 col-md-4 col-xl-3"> <!-- Idea -->
	<h6 class="card-title text-uppercase text-truncate py-2 text-secondary">Idea</h6>

  {% for item in idea %}

  <div class="card bg-light mt-2">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <a href="{{ item.link }}" target="_blank" class="btn btn-primary">Source code</a>
    </div>
  </div>
  {% endfor %}

</div> <!-- Idea -->

<!---------------------->
<!-- In Progress -->
<!---------------------->

<div class="col-sm-6 col-md-4 col-xl-3"> <!-- In Progress -->
	   <h6 class="card-title text-uppercase text-truncate py-2 text-secondary">In Progress</h6>
 
  {% for item in in_progress %}

  <div class="card bg-light mt-2">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <a href="{{ item.link }}" target="_blank" class="btn btn-primary">Source code</a>
    </div>
  </div>
  {% endfor %}

</div> <!-- In Progress -->

<!---------------------->
<!-- Almost Finished -->
<!---------------------->

<div class="col-sm-6 col-md-4 col-xl-3"> <!-- Almost Done -->
   <h6 class="card-title text-uppercase text-truncate py-2 text-secondary">Almost Done</h6>

  {% for item in almost_done %}

  <div class="card bg-light mt-2">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <a href="{{ item.link }}" target="_blank" class="btn btn-primary">Source code</a>
    </div>
  </div>
  {% endfor %}

</div>  <!-- Almost Done -->

<!---------------------->
<!-- Done -->
<!---------------------->

<div class="col-sm-6 col-md-4 col-xl-3"> <!-- Done -->
   <h6 class="card-title text-uppercase text-truncate py-2 text-secondary">Done</h6>

  {% for item in done %}

  <div class="card bg-light mt-2">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <a href="{{ item.link }}" target="_blank" class="btn btn-primary">Source code</a>
    </div>
  </div>
  {% endfor %}

</div> <!-- Done -->


</div> 
  


</div> <!-- row -->

</div> <!-- container -->

</main>

<footer class="footer">
      <div class="container">
        <span class="text-muted text-secondary">By Vincenzo Marafioti. Last update on {{ date }}</span>
      </div>
    </footer>


</body>
</html>
